Package: libupower-glib-dev
Source: upower
Version: 0.99.11-17
Architecture: arm64
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Installed-Size: 493
Depends: gir1.2-upowerglib-1.0 (= 0.99.11-17), libupower-glib3 (= 0.99.11-17), libglib2.0-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://upower.freedesktop.org/
Description: abstraction for power management - development files
 upower provides an interface to enumerate power sources on the system
 and control system-wide power management. Any application can access the
 org.freedesktop.UPower service on the system message bus. Some
 operations (such as suspending the system) are restricted using PolicyKit.
 .
 This package contains files that are needed to build applications.
