Package: libupower-glib3-dbgsym
Source: upower
Version: 0.99.11-2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Installed-Size: 192
Depends: libupower-glib3 (= 0.99.11-2)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libupower-glib3
Build-Ids: a1e4584c7d9816ff7ae28ba67b8e66ce49ac8103
