Package: upower-dbgsym
Source: upower
Version: 0.99.11-2
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Installed-Size: 335
Depends: upower (= 0.99.11-2)
Section: debug
Priority: optional
Description: debug symbols for upower
Build-Ids: 91913d7f17d468b27524c4c32903c75358b9ad63 a5aacd794f429745396d4ec14dd5274cb84002df
